.scrollBtn {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--gray-dark);
    position: fixed;
    z-index: 10;
    bottom: 3rem;
    right: 3rem;
    cursor: pointer;
}