.section {
    min-height: 100vh;
}

.aboutmeContainer, .techstackContainer {
    color: #fff;
    background-color: var(--black-light);
    min-height: 50vh;
    padding: 3.5rem 0; /* This is the height of navbar */
    display: flex;
    align-items: center;   
}

.container {
    width: 100%;
}

.aboutme, .techstack {
    width: 100%;
}

.techstackContainer {
    background-color: var(--light-bg);
    color: var(--black-light);
    padding-top: 0;
}

.title, .titlemin {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    font-family: var(--title-font);
    font-weight: 600;
}

.aboutme .aboutContent{
    font-size: 1.15rem;
}

.contentP, .contentPL {
    margin: 0.5rem 0;
}

.contentPL {
    margin: 0.8rem 0;
}

.titlemin{
    font-size: 1.15rem;
}

.tag {
    font-size: 1.15rem;
    font-family: var(--title-font);
    font-weight: 600;
    margin: 1.25rem 0 0.5rem;
}

.stackBlock {
    display: flex;
}

.block {
    width: 30rem;
    margin: 0 2rem;
}

.block:first-child {
    margin-left: 0;
}

.block ul li {
    line-height: 1.5rem;
}

.initTransition {
    display: flex;
    justify-content: center;
    width: 100%;
    
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.transition {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width: 1025px) {
    .stackBlock {
        display: flex;
        flex-direction: column;
    }

    .block {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .aboutmeContainer, .techstackContainer {
        padding: 3.5rem 1.5rem;
    } 
}