.card {
    background-position: center;
    background-size: cover;
    border-radius: 0.3rem;
    transform: scale(1);
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.15rem;
    transition: transform 0.6s ease-in-out;
    filter: brightness(1.4);
    text-align: center;
}

.contentWrapper {
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2.5rem 4rem;
    transition: opacity 0.6s ease-in-out;
}

.content {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.025);
}

.card:hover .contentWrapper {
    opacity: 1;
}

.btn {
    background-color: white;
    color: var(--black-light);
    padding: 0.5rem 0.75rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    font-size: 1rem;
}


@media screen and (max-width: 600px) {
    .contentWrapper {
        padding: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .contentWrapper {
        padding: 1.5rem;
    }
}