.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    font-weight: 600;
    font-size: 1.15rem;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    transition: 0.4s;
}

.navmin {
    padding: 1.15rem 3rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 1);
}

.nav .block {
    margin: 0 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .block .navItem {
    padding: 0 1rem 0.35rem;
}

.active {
    border-bottom: 2px solid var(--gray-dark);
}